<div class="mt-5">
    <div id="respond" class="comment-respond" title="發佈留言">
      <h3 id="reply-title" class="comment-reply-title">發佈留言 
        <small>
          <a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">取消回覆</a>
        </small>
      </h3>
      <p class="comment-notes small text-muted">
        <span id="email-notes">發佈留言必須填寫的電子郵件地址不會公開。</span> 
        <span class="required-field-message">必填欄位標示為 <span class="required text-danger">*</span></span>
      </p>
      <form method="POST" action="" class="row">
        <div class="col-12">
          <textarea name="留言" id="message" class="form-control mb-4" placeholder="* 留言" rows="5"></textarea>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control mb-4" placeholder="* 顯示名稱" name="name" id="username">
        </div>
        <div class="col-md-6">
          <input type="email" class="form-control mb-4" placeholder="* 電子郵件地址" name="email" id="email">
        </div>
        <div class="col-12">
          <button class="btn btn-outline-primary" type="submit">留言發佈</button>
        </div>
      </form>
    </div>
</div>