{% if showComments %}
<div id="comments" class="comments-area">
  <ol class="comment-list">
    {% for index, comment in comments %}
    <li id="comment-{{ comment.id }}" class="comment even {% if index is odd %}thread-even{% else %}thread-odd{% endif %} depth-1 parent">
      <article id="div-comment-{{ comment.id }}" class="comment-body">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt="頭像" src="https://secure.gravatar.com/avatar/8e4705634f348516954dc926aa051e9a?s=56&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/8e4705634f348516954dc926aa051e9a?s=112&amp;d=mm&amp;r=g 2x" class="avatar avatar-56 photo entered lazyloaded" height="56" width="56" decoding="async" data-lazy-src="https://secure.gravatar.com/avatar/8e4705634f348516954dc926aa051e9a?s=56&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/8e4705634f348516954dc926aa051e9a?s=112&amp;d=mm&amp;r=g 2x">
            <noscript>
            <img alt="頭像" src="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=56&#038;d=mm&#038;r=g" srcset="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=112&#038;d=mm&#038;r=g 2x" class="avatar avatar-56 photo" height="56" width="56" decoding="async"/>
            </noscript>
            <b class="fn">{{ comment.author }}</b>
            <span class="says">表示:</span> 
          </div>
          <div class="comment-metadata"> 
            <a href="/#comment">
            <time datetime="{{ comment.created_at }}">{{ comment.created_at|date('Y-m-d h:i:s') }}</time>
            </a> 
          </div>
        </footer>
        <div class="comment-content">
          {{ comment.comment_content | raw }}
          <!-- <p>您好，想要請教您，我與姊姊前陣子因為美金大跌，所以在玉山以及永豐分別買進20萬台幣的美金，這筆資金目前閒置中，不知道現在到底該轉投資美股嗎😭因為資金不集中，一邊大約七千美金，現在真的很苦惱不知道該怎麼操作😣</p> -->
        </div>
        <!-- <div class="reply">
          <a rel="nofollow" class="comment-reply-link" href="#comment-{{ comment.id }}" data-commentid="{{ comment.id }}" data-postid="{{ post.id }}">回覆</a>
        </div> -->
      </article>
      <!-- 回應的回應 -->
      {% for index, comment in comment.allchildren %}
      <ol class="children">
        <li id="comment-{{ comment.id }}" class="comment byuser comment-author-chiay0327 Honestperson odd alt depth-2">
          <article id="div-comment-{{ comment.id }}" class="comment-body">
            <footer class="comment-meta">
              <div class="comment-author vcard"> 
                <img alt="頭像" src="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=56&amp;d=mm&amp;r=g" data-lazy-srcset="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=112&amp;d=mm&amp;r=g 2x" class="avatar avatar-56 photo entered lazyloaded" height="56" width="56" decoding="async" data-lazy-src="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=56&amp;d=mm&amp;r=g" data-ll-status="loaded" srcset="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=112&amp;d=mm&amp;r=g 2x">
                <noscript>
                <img alt="頭像" src="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=56&#038;d=mm&#038;r=g" srcset="https://secure.gravatar.com/avatar/6461cc3d4c9f28ce760127b1ff92da08?s=112&#038;d=mm&#038;r=g 2x" class="avatar avatar-56 photo" height="56" width="56" decoding="async"/>
                </noscript>
                <b class="fn">老實人</b>
                <span class="says">表示:</span> 
              </div>
              <div class="comment-metadata"> 
                <a href="#comment-{{ comment.id }}">
                <time>{{ comment.created_at|date('Y-m-d h:i:s') }}</time>
                </a> 
              </div>
            </footer>
            <div class="comment-content">
              {{ comment.comment_content | raw }}
            </div>            
            <div class="reply">
              <a rel="nofollow" class="comment-reply-link" href="#comment-{{ comment.id }}">回覆</a>
            </div>
          </article>
        </li>
      </ol>
      {% endfor %}
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
