{% if showComments %}
<div id="comments" class="comments-area">
  <ol class="comment-list">
    {% for index, comment in comments %}
    <li id="comment-{{ comment.id }}" class="comment even {% if index is odd %}thread-even{% else %}thread-odd{% endif %} depth-1 parent">
      <article id="div-comment-{{ comment.id }}" class="comment-body">
        <footer class="comment-meta">
          <div class="comment-author vcard">
            <img alt="頭像" 
                src="{{ comment.avatar }}" 
                data-lazy-srcset="{{ comment.avatar }}" 
                class="avatar avatar-56 photo entered lazyloaded" height="56" width="56" decoding="async" 
                data-lazy-src="{{ comment.avatar }}" 
                data-ll-status="loaded" 
                srcset="{{ comment.avatar }}">
            <noscript>
            <img alt="頭像" 
                src="{{ comment.avatar }}" 
                srcset="{{ comment.avatar }}" 
                class="avatar avatar-56 photo" height="56" width="56" decoding="async"/>
            </noscript>
            <b class="fn">{{ comment.display_name }}</b>
            <span class="says">表示:</span> 
          </div>
          <div class="comment-metadata"> 
            <a href="/#comment">
            <time datetime="{{ comment.created_at }}">{{ comment.created_at|date('Y-m-d h:i:s') }}</time>
            </a> 
          </div>
        </footer>
        <div class="comment-content">
          {{ comment.comment_content | raw }}
        </div>
        <div class="reply">
          <a rel="nofollow" 
              class="comment-reply-link" 
              href="#comment-{{ comment.id }}" 
              data-commentid="{{ comment.id }}" 
              data-postid="{{ post.id }}">回覆</a>
        </div>
      </article>
      <!-- 回應的回應 -->
      {% for index, comment in comment.allchildren %}
      <ol class="children">
        <li id="comment-{{ comment.id }}" class="comment byuser comment-author-chiay0327 Honestperson odd alt depth-2">
          <article id="div-comment-{{ comment.id }}" class="comment-body">
            <footer class="comment-meta">
              <div class="comment-author vcard"> 
                <img alt="頭像" 
                  src="{{ comment.avatar }}" 
                  data-lazy-srcset="{{ comment.avatar }}" 
                  class="avatar avatar-56 photo entered lazyloaded" height="56" width="56" decoding="async" 
                  data-lazy-src="{{ comment.avatar }}" 
                  data-ll-status="loaded" 
                  srcset="{{ comment.avatar }}">
                <noscript>
                <img alt="頭像" 
                  src="{{ comment.avatar }}" 
                  srcset="{{ comment.avatar }}" 
                  class="avatar avatar-56 photo" height="56" width="56" decoding="async"/>
                </noscript>
                <b class="fn">{{ comment.display_name }}</b>
                <span class="says">表示:</span> 
              </div>
              <div class="comment-metadata"> 
                <a href="#comment-{{ comment.id }}">
                <time>{{ comment.created_at|date('Y-m-d h:i:s') }}</time>
                </a> 
              </div>
            </footer>
            <div class="comment-content">
              {{ comment.comment_content | raw }}
            </div>            
            <div class="reply">
              <a rel="nofollow" class="comment-reply-link" href="#comment-{{ comment.id }}">回覆</a>
            </div>
          </article>
        </li>
      </ol>
      {% endfor %}
    </li>
    {% endfor %}
  </ol>
</div>
{% endif %}
