{% if blogConfig.about_this_blog %}
    {{ blogConfig.about_this_blog|md_safe }}
{% else %}
<div class="col-lg-12">
    <div class="widget">
        <div class="widget-body"> 
            <img loading="lazy" decoding="async" src="{{ ('assets/images/author.jpg')|theme }}" alt="About Me" class="w-100 author-thumb-sm d-block">
            <h2 class="widget-title my-3">Honestperson</h2>
            <p class="mb-3 pb-2">我是一個熱愛投資理財的人，也希望能幫助更多人學習投資理財。我相信，投資理財是每個人都應該學習的知識，它可以幫助我們在財務上獲得自由和保障 …</p>
            <a href="/about" class="btn btn-sm btn-outline-primary">Know More</a>
        </div>
    </div>
</div>
{% endif %}