url = "search/:keyword?/:page?"
layout = "default"
title = "老實人投資理財"

[searchResult]
searchTerm = "{{ :keyword }}"
pageNumber = "{{ :page }}"
hightlight = 1
postsPerPage = 5
noPostsMessage = "...沒有符合的文章"
sortOrder = "published_at desc"
postPage = "article"
==


{% if posts.count > 0 %}
<div class="col-12">
    <h2 class="section-title">符合 {{ searchTerm }} 的文章</h2>
</div>
{% else %}
<div class="col-12">
  <h2 class="section-title"> {{ noPostsMessage }} </h2>
</div>
{% endif %}


{% for post in posts %}
    {% partial 'post-card' post=post %}    
{% endfor %}


{% if posts.lastPage > 1 %}
    {% partial 'site/pagination' posts=posts %}
{% endif %}
