{# Favicon #}
<link rel="shortcut icon" href="{{ 'assets/images/favicon.png'|theme }}" type="image/x-icon">
<link rel="icon" href="{{ 'assets/images/favicon.png'|theme }}" type="image/x-icon">
{# Styles #}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Neuton:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

<link href="{{ 'assets/plugins/bootstrap/bootstrap.min.css'|theme }}" rel="stylesheet">
<link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">
{% styles %}
